/target
/builddir
/build
/subprojects
/pkg
*.pkg.tar.zst*
/carosello-*.tar.gz
# makepkg leftovers: its $srcdir is src/ (collides with the Rust src/)
/src/carosello-*/
/src/*.tar.gz
.cargo/
cargo/vendored
cargo-sources.json
# nix build symlink
/result
