pkgbase = carosello
	pkgdesc = A fast, minimalist image and video viewer for Linux (GTK4/libadwaita)
	pkgver = 1.2.3
	pkgrel = 1
	url = https://github.com/grigio/carosello
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = appstream
	checkdepends = desktop-file-utils
	checkdepends = gdk-pixbuf2
	makedepends = cargo
	makedepends = meson
	depends = gtk4
	depends = libadwaita
	depends = glib2
	depends = graphene
	depends = glibc
	depends = libgcc
	depends = hicolor-icon-theme
	optdepends = gst-plugins-good: extra video codecs (mp4/webm)
	optdepends = gst-plugins-bad: extra video codecs (mkv)
	optdepends = gst-plugins-ugly: extra video codecs
	optdepends = gst-libav: ffmpeg-based codecs
	source = carosello-1.2.3.tar.gz::https://github.com/grigio/carosello/archive/refs/tags/v1.2.3.tar.gz
	source = gpl-3.0.txt
	source = cargo-lock.patch
	sha256sums = 90974921ea365d97afc251ab3ca05e31d0bdf570bdc204b246b56b25b3113383
	sha256sums = 3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986
	sha256sums = 01ca5796700277d4e39d6a848bf55909f2a5a98e17817421f2102666dc416c45

pkgname = carosello
