pkgbase = carosello
	pkgdesc = A fast, minimalist image and video viewer for Linux (GTK4/libadwaita)
	pkgver = 1.2.2
	pkgrel = 1
	url = https://github.com/grigio/carosello
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = meson
	makedepends = git
	makedepends = desktop-file-utils
	makedepends = appstream-glib
	depends = gtk4
	depends = libadwaita
	depends = glib2
	depends = gdk-pixbuf2
	depends = hicolor-icon-theme
	optdepends = gst-plugins-good: extra video codecs (mp4/webm)
	optdepends = gst-plugins-bad: extra video codecs (mkv)
	optdepends = gst-plugins-ugly: extra video codecs
	optdepends = gst-libav: ffmpeg-based codecs
	source = carosello-1.2.2.tar.gz::https://github.com/grigio/carosello/archive/refs/tags/v1.2.2.tar.gz
	sha256sums = 00d60646c9f0c32e428321db5b386ec497476735894e77104c91bc9c06731482

pkgname = carosello
